---
import {getEntry} from 'astro:content';
interface Props {
    namaKoleksi: string,
    namaEntry: string,
    namaTag: string
}
const {namaKoleksi, namaEntry, namaTag} = Astro.props;
const entry = await getEntry(namaKoleksi, namaEntry);
const {Content} = await entry.render();
---

<div class="w3-panel w3-card" id={namaTag}>
    <Content />
</div>
