---
interface Props {
    title: string,
    author: string,
    description: string,
    keywords: string
}
const {title, author, description, keywords} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description} />
        <meta name="keywords" content={keywords}/>
        <meta name="author" content={author} />
		<title>{title}</title>
		<link rel="stylesheet" href="/styles/w3.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
        <main class="w3-main w3-padding-16">
            <slot />
        </main>
    </body>
</html>
